* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: #84ad63;
    color: #4d0825;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

#logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#logo-img {
    margin-right: 20px;
}

#logo-img img {
    width: 100%;
    height: 90px;
}

#menu {
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: center;
}

#ir-para-destaque {
    display: flex;
    align-items: center;
}

header a {
    text-decoration: none;
    background-color: #4d0825cc;
    border-radius: 8px;
    color: rgba(255, 255, 255, 0.925);
    padding: 5px;
}

#tela-atual {
    background-color: #3b041b;
    color: white;
}

#logo-texto .texto-pequeno {
    font-size: smaller;
}

#logo-texto h1 {
    font-size: 30px;
}